body {
  background-color: black;
}

#myButton{
  margin: 250px 900px;
}

#connection{
    position:absolute;
    bottom:2rem;
    left:2rem;
    color:white;
}

#defaultCanvas0{
    position:absolute;
}

#chart{
    top:0;
    left:0;
}
